/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #333;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 50px 0;
}

a {
    text-decoration: none;
}

header,
#about .container h3,
#skills .container h3,
#portfolio .container h3,
#contact .container h3,
.html, .css, .react, .java {
    overflow-y: hidden;
}

#about, #skills, #portfolio {
    padding: 4rem 0;
}

header, #skills, #contact {
    background-color: rgb(240, 244, 248);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px 0;
    position: relative;
}

section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: rgb(183, 181, 181);
    left: calc(50% - 60px);
}

section h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.5px;
    width: 40px;
    height: 4px;
    background-color: rgb(16, 47, 80);
    left: calc(50% - 20px);
}

/* SIDEBAR FOR MOBILE */
header .container #hamburger {
    float: right;
    display: none;
    padding: 18px;
}

header .container #hamburger:hover {
    cursor: pointer;
}

#sidebar-menu {
    display: none;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -999px;
    width: 40%;
    background-color: rgba(16, 47, 80, .9);
    transition: .3s;
    z-index: 1;
    height: 100%;
}

#sidebar ul a li {
    color: white;
}

#sidebar ul li {
    padding: 24px;
}

#sidebar ul li:hover {
    background-color: #F84744;
    transition: .3s;
    transition-property: background-color;
}

#sidebar-menu:checked ~ #sidebar{
    left: 0;
}

/* HEADER */
header {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(16, 47, 80);
}

header .container h1 {
    display: inline-block;
    padding: 15px 24px;
    text-transform: uppercase;
}

header .container h1 a {
    transition: .3s;
}

header .container h1 a:hover {
    color: #F84744;
}

header .container ul {
    float: right;
}

header .container ul li {
    padding: 24px;
    display: inline-block;
}

header .container ul li a {
    transition: .3s;
}

header .container ul li a:hover {
    color: #F84744;
}

/* BANNER */
#banner {
    background: linear-gradient(-45deg, #7923BB, #1F6886);
    background-size: 400% 400%;
    padding: 100px 0;
    animation: gradient 15s ease-in-out infinite;
}

#banner .container #left-banner img {
    width: 13%;
    border-radius: 10%;
    box-shadow: 0 13px 23px #ddd;
    margin-top: 30px;
}

#banner .container #left-banner h2,
#banner .container #left-banner p,
#banner .container #left-banner span {
    color: white;
}

#banner .container #left-banner h2 {
    padding-top: 20px;
}

#banner .container #left-banner p {
    font-size: 18px;
}

#banner .container #left-banner {
    padding-left: 24px;
}

/* ABOUT */
#about .container p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}

/* SKILLS */
#skills .container .bar {
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0 20px 0;
    line-height: 30px;
}

#skills .container .bar .value {
    height: 30px;
    background-color: #F84744;
    display: block;
    text-align: center;
    color: #fff;
}

#skills .container .bar .html {
    width: 50%;
}

#skills .container .bar .css {
    width: 60%;
}

#skills .container .bar .react {
    width: 70%;
}

#skills .container .bar .java {
    width: 80%;
}

/* PORTFOLIO */
#portfolio .container h4 {
    margin-top: -20px;
}

/* #portfolio .container .col-4 {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

#portfolio .container .col-4 img {
    width: 100%;
}

#portfolio .container .col-4 a:hover img {
    transform: scale(1.1);
    transition: .3s;
} */

#portfolio .container #container-loader {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#portfolio .container #container-loader #loader-wrapper {
    width: 180px;
    height: 180px;
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .container #container-loader .loader {
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    border: 10px solid #162534;
    border-top-color: #0077B5;
    border-bottom-color: #DC903E;
    border-radius: 50%;
    animation: rotate 7s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .container #container-loader .loader .loader-inner {
    border-top-color: #7923BB;
    border-bottom-color: #C32669;
    animation-duration: 5s;
    width: 70%;
    height: 70%;
}

#portfolio .container #container-loader .loader .loader-inner-2 {
    border-top-color: #96ECB4;
    border-bottom-color: #61A9ED;
    animation-duration: 3s;
    width: 70%;
    height: 70%;
}

/* CONTACT */
#contact .container .col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;;
}

#contact .container .col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

#contact .container .col-3 .ig,
#contact .container .col-3 .tele,
#contact .container .col-3 .link {
    display: inline-block;
    font-size: 44px;
    animation: float 5s ease-in-out infinite;
    margin: 5px 20px;
    width: 10%;
}

#contact .container .col-3 .ig {
    animation-delay: 1s;
}

#contact .container .col-3 .tele {
    animation-delay: 2s;
}

#contact .container .col-3 .link {
    animation-delay: 3s;
}

/* FOOTER */
footer {
    background-color: #333;
    text-align: center;
    padding: 50px;
}

footer .container small {
    color: #fff;
}

/* GO TO TOP */
#go-to-top {
    position: fixed;
    top: 86%;
    left: 90%;
}

#go-to-top img {
    width: 50%;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }

    50% {
        transform: scale(.8) rotate(-360deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0 50%;
    }
}

@media (max-width: 768px) {
    header .container #hamburger {
        display: block;
    }

    header ul {
        display: none;
    }

    /* .col-4 {
        width: 50%;
    } */

    #contact .container .col-3 {
        width: 100%;
    }

    #banner .container #left-banner img {
        width: 40%;
        border-radius: 10%;
        box-shadow: 0 13px 23px #ddd;
        margin-bottom: 10px;
        margin-left: calc(30% - 10px);
    }

    #go-to-top {
        position: fixed;
        top: 84%;
        left: 80%;
    }
    
    #go-to-top img {
        width: 60%;
    }
}

@media (max-width: 369px){
    header {
        font-size: 13px;
    }

    #sidebar {
        top: 70px;
    }
}

@media (min-width: 769px) {
    #sidebar {
        display: none;
    }

    #sidebar {
        top: 70px;
    }
}